@import "tailwindcss";

@theme {
	--color-amazon-background: #e3e6e6;
	--color-amazon-light: #232f3e;
	--color-amazon: #131921;
	--color-amazon-text: #333333;
	--color-amazon-blue: #007185;
	--color-amazon-orange: #c7511f;
	--color-amazon-yellow: #ffd814;
	--color-amazon-yellow_hover: #f7ca00;
	--color-amazon-secondary: #ffa41c;

	--font-sans: "Arial", "sans-serif";
	--font-mono: "Arial", "sans-serif";
	--default-border-color: #d5d9d9;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}
.star-rating {
	color: #ffa41c;
}
.tab-active {
	border-bottom: 2px solid #c7511f;
	color: #c7511f;
}
.a-box {
	border: 1px solid #ddd;
	border-radius: 4px;
}
.a-button-primary {
	background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
	border: 1px solid #a88734;
	border-color: #a88734 #9c7e31 #846a29;
}
.a-button-primary:hover {
	background: linear-gradient(to bottom, #f5d78e, #eeb933);
}
